## Preprocessing

In [49]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [50]:
#Check for variables that may be dropped
application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [51]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

Status and special considerations may be dropped, since the values are almost ubiquitous throughout the dataset.

In [52]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','STATUS','SPECIAL_CONSIDERATIONS'],1)
application_df.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [53]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64


*   Target variable - IS_SUCCESSFUL
*   Feature variables - all other variables aside from EIN, STATUS, and SPECIAL CONSIDERATIONS are features
    * However, the model will focus on APPLICATION_TYPE and CLASSIFICATION
      since these had over 10 values.

In [54]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

Name cutoff: n<=5

In [55]:
names_to_replace = list(name_counts[name_counts <=5].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [58]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

 *  Types with n<500 will be classified as 'other'

In [59]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [60]:


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [61]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

Since there are many classes with few counts, some will be binned together as 'other'

In [62]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

Cutoff: n<1000 for '*CLASSIFICATION*'

In [63]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(class_counts[class_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [64]:
# Convert categorical data to numeric with `pd.get_dummies`
full_df = pd.get_dummies(application_df)
full_df.head(5)

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [65]:
# Split our preprocessed data into our features and target arrays
X = full_df.drop(['IS_SUCCESSFUL'],axis=1).values
y = full_df['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [66]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [67]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train[0])
layer1_nodes = 100
layer2_nodes = 30
layer3_nodes = 10
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer1_nodes,input_dim=num_input_features, activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer2_nodes,input_dim=layer1_nodes, activation='relu')
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer3_nodes,input_dim=layer2_nodes, activation='relu')
)
# Output layer
nn.add(
    tf.keras.layers.Dense(units=1,input_dim=layer3_nodes, activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 100)               39600

 dense_7 (Dense)             (None, 30)                3030

 dense_8 (Dense)             (None, 10)                310

 dense_9 (Dense)             (None, 1)                 11

=================================================================
Total params: 42,951
Trainable params: 42,951
Non-trainable params: 0
_________________________________________________________________

In [68]:
# Compile the model
nn.compile(loss='binary_crossentropy',optimizer='adam', metrics='accuracy')

In [69]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.4709 - accuracy: 0.7775
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4320 - accuracy: 0.7925
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7933
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7952
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4251 - accuracy: 0.7949
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7974
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7972
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7970
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7979
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4200 - accuracy: 0.7989
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.7977
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4189 - accuracy: 0.7987
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7994
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7987
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4175 - accuracy: 0.8000
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.8005
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.8008
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.8002
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.8010
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.8016
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.8016
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4137 - accuracy: 0.8024
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8017
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.8022
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4128 - accuracy: 0.8020
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4123 - accuracy: 0.8027
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4123 - accuracy: 0.8023
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.8028
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4117 - accuracy: 0.8029
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4111 - accuracy: 0.8038
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4113 - accuracy: 0.8033
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4113 - accuracy: 0.8034
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4105 - accuracy: 0.8035
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4098 - accuracy: 0.8034
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4102 - accuracy: 0.8042
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4106 - accuracy: 0.8044
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4096 - accuracy: 0.8039
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4097 - accuracy: 0.8047
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4094 - accuracy: 0.8041
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4089 - accuracy: 0.8048
Epoch 41/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4089 - accuracy: 0.8042
Epoch 42/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4085 - accuracy: 0.8047
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4090 - accuracy: 0.8043
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4088 - accuracy: 0.8045
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4079 - accuracy: 0.8038
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4078 - accuracy: 0.8050
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4085 - accuracy: 0.8041
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8050
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4083 - accuracy: 0.8046
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4072 - accuracy: 0.8048
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4073 - accuracy: 0.8047
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4072 - accuracy: 0.8045
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4068 - accuracy: 0.8059
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8052
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4066 - accuracy: 0.8054
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8047
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4070 - accuracy: 0.8045
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4066 - accuracy: 0.8047
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4061 - accuracy: 0.8046
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4064 - accuracy: 0.8051
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4063 - accuracy: 0.8055
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4063 - accuracy: 0.8043
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4058 - accuracy: 0.8057
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8056
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4055 - accuracy: 0.8065
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8063
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4055 - accuracy: 0.8058
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4055 - accuracy: 0.8057
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4053 - accuracy: 0.8059
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8061
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8057
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8058
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8058
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8057
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8052
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8061
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8061
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8052
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4046 - accuracy: 0.8055
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8061
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8063
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8054
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8063
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8064
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8068
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8060
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8067
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8068
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8064
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8064
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8064
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8066
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8058
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8063
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8062
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4031 - accuracy: 0.8062
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8063
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8071
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4031 - accuracy: 0.8075
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8070

In [71]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4781 - accuracy: 0.7950 - 524ms/epoch - 2ms/step
Loss: 0.4780654311180115, Accuracy: 0.7949854135513306

In [72]:
# Export our model to HDF5 file
nn.save('Charity_Model_OPTIMIZED.h5')

In [74]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [78]:
#Create a Random Forest Classifier to compare against nn
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

#Fit rf model
rf_model = rf_model.fit(X_train_scaled,y_train)

#Test model and measure accuracy
y_hat = rf_model.predict(X_test_scaled)
print(f"Accuracy score for the Random Forest Model:{accuracy_score(y_test,y_hat):.4f}")

Accuracy score for the Random Forest Model:0.7789

RF model scored lower than second NN model, but better than the first from steps 1 and 2.